{% extends "navigation.html" %}

{% block body %}
    <div class="sign">
        <div class="signContainer">
            <div class="signBlueBg">
                <div class="signBox signSignin">
                    <h2>Already have an account ?</h2>
                    <button class="signSigninbtn">Sign in</button>
                </div>
                <div class="signBox signSignup">
                    <h2>Do not have an account ?</h2>
                    <button class="signSignupbtn">Sign up</button>
                </div>
            </div>
            <div class="signFormBox">
                <div class=" signForm signInForm">
                    <form>
                        <h3>Sign-in</h3>
                        <input type="text" placeholder="User-name is e-mail">
                        <input type="password" placeholder="Password">
                        <input type="submit" value="Login">
                        <a href="#" class="signForget">Forget Password?</a>
                    </form>
                </div>
                <div class="signForm signUpForm">
                    <form>
                        <h3>Sign-up</h3>
                        <input type="text" placeholder="Full name">
                        <input type="email" placeholder="Email">
                        <input type="number" placeholder="Contact number">
                        <input type="password" placeholder="Password">
                        <input type="password" placeholder="Confirm password">
                        <input type="submit" value="Register">
                    </form>
                </div>
            </div>
        </div>
        <script>
            const signSigninbtn = document.querySelector('.signSigninbtn');
            const signSignupbtn = document.querySelector('.signSignupbtn');
            const signFormBox = document.querySelector('.signFormBox');
            const sign = document.querySelector('.sign');

            signSignupbtn.onclick = function(){
                signFormBox.classList.add('active');
                sign.classList.add('active');
            }

            signSigninbtn.onclick = function(){
                signFormBox.classList.remove('active');
                sign.classList.remove('active');
            }
        </script>
    </div>
{% endblock %}