{% extends 'layout.html' %}
{% load static %}
{% block body %}
<link href="{% static 'viewuser.css'%}" rel="stylesheet">
{% include 'navigation.html'%}
    <table class="table table-hover">
        <tr class="pinkbg">
            <th>S.No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Password</th>
            <th>Profile</th>
            <th>Action</th>
        </tr>
        {% for i in data %}
            <tr>
                <td style="vertical-align: middle;">{{i.user.0}}</td>
                <td style="vertical-align: middle;">{{i.user}}</td>
                <td style="vertical-align: middle;">{{i.email}}</td>
                <td style="vertical-align: middle;">{{i.mobile}}</td>
                <td style="vertical-align: middle;">{{i.password}} </td>
                <td><img src="{{i.image.url}}" height="100px" alt=""></td>
                <td style="vertical-align: middle;"><a href="{% url 'deleteuser' i.email %}" class="btn btn-danger sm-btn">Delete</a></td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="7" style="background-color: hotpink; font-size: 20px; font-weight: bold;" align="center" >THE END</td>
        </tr>
    </table>
{% endblock %}