
footer{
	height: 15vh;
	background: #011213;
	color: white;
}

footer > .left{
    float: left;
    font-size: 30px;
    padding-top:2%;
    padding-left:7%;
}

footer > .right{
    float: right;
    font-size: 17px;
    padding-right: 7%;
    padding-top: 1%;
}